# Code owners are automatically requested for review when someone opens a pull request that modifies code that they own.

# See: https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# To keep eye on new functions added to Actor specification

@jancurn @mnmkng
