name: docs

on:
    push:
        branches:
            - master
    workflow_dispatch:

jobs:
    build:
        if: ${{ !contains(github.event.head_commit.message, '[skip ci]') }}
        environment:
            name: github-pages
        permissions:
            contents: write
            pages: write
            id-token: write
        runs-on: ubuntu-latest

        steps:
            -   uses: actions/checkout@v4
                with:
                    token: ${{ secrets.APIFY_SERVICE_ACCOUNT_GITHUB_TOKEN }}
            -   name: Use Node.js 18
                uses: actions/setup-node@v4
                with:
                    node-version: 18

            -   name: Build docs
                run: |
                    # install project deps
                    npm ci --force
                    # go to website dir
                    cd website
                    # install website deps
                    npm ci --force
                    # install the latest theme version
                    npm update @apify/docs-theme
                    # build and deploy the docs
                    npm run deploy
                env:
                    GIT_USER: "apify-service-account:${{ secrets.APIFY_SERVICE_ACCOUNT_GITHUB_TOKEN }}"
                    GH_TOKEN: ${{ secrets.APIFY_SERVICE_ACCOUNT_GITHUB_TOKEN }}
                    APIFY_SIGNING_TOKEN: ${{ secrets.APIFY_SIGNING_TOKEN }}

            -   name: Commit the updated package(-lock).json
                uses: stefanzweifel/git-auto-commit-action@v5
                with:
                    commit_message: 'chore: Automatic theme updating workflow [skip ci]'
                    file_pattern: 'website/package*.json'
                    commit_user_name: Apify Bot
                    commit_user_email: my-github-actions-bot@example.org
                    commit_author: Apify Bot <apify@apify.com>

            -   name: Set up GitHub Pages
                uses: actions/configure-pages@v4

            -   name: Upload GitHub Pages artifact
                uses: actions/upload-pages-artifact@v2
                with:
                    path: ./website/build

            -   name: Deploy artifact to GitHub Pages
                uses: actions/deploy-pages@v3

            -   name: Invalidate CloudFront cache
                run: gh workflow run invalidate.yaml --repo apify/apify-docs-private
                env:
                    GITHUB_TOKEN: ${{ secrets.APIFY_SERVICE_ACCOUNT_GITHUB_TOKEN }}
