name: Release @latest

on:
    workflow_dispatch:
        inputs:
            version:
                description: The version to bump (if you choose custom, please include it under custom version)
                required: true
                default: 'patch'
                type: choice
                options:
                    - 'patch'
                    - 'minor'
                    - 'major'
                    - 'custom'
            custom_version:
                description: The custom version to bump to (only for "custom" type)
                required: false
                type: string
                default: ''

jobs:
    # Test before releasing to ensure we don't release a broken version
    build_and_test:
        name: Build & Test
        if: (!contains(github.event.head_commit.message, '[skip ci]') && !contains(github.event.head_commit.message, 'docs:'))
        strategy:
            fail-fast: true
            matrix:
                # We don't test on Windows as the tests are flaky
                os: [ubuntu-22.04]
                node-version: [18, 20, 22, 24]

        runs-on: ${{ matrix.os }}

        steps:
            - name: Cancel Workflow Action
              uses: styfle/cancel-workflow-action@0.12.1
              with:
                  access_token: ${{ github.token }}

            - name: Checkout repository
              uses: actions/checkout@v6

            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v6
              with:
                  node-version: ${{ matrix.node-version }}
                  cache: 'npm'
                  cache-dependency-path: 'package-lock.json'

            - name: Install Dependencies
              run: |
                  npm ci
                  npx playwright install --with-deps

            - name: Build
              run: npm run ci:build

            - name: Tests
              run: npm test
    release_metadata:
        name: Prepare release metadata
        runs-on: ubuntu-latest
        outputs:
            version_number: ${{ steps.release_metadata.outputs.version_number }}
            tag_name: ${{ steps.release_metadata.outputs.tag_name }}
            changelog: ${{ steps.release_metadata.outputs.changelog }}
            release_notes: ${{ steps.release_metadata.outputs.release_notes }}
        steps:
            - uses: apify/workflows/git-cliff-release@main
              name: Prepare release metadata
              id: release_metadata
              with:
                  release_type: ${{ inputs.release_type }}
                  custom_version: ${{ inputs.custom_version }}
                  existing_changelog_path: CHANGELOG.md

    update_changelog:
        name: "Bump apify: ${{ inputs.version }} version (${{ inputs.custom_version || 'n/a' }} custom version)"
        if: (!contains(github.event.head_commit.message, '[skip ci]') && !contains(github.event.head_commit.message, 'docs:'))
        needs: [release_metadata, build_and_test]
        runs-on: ubuntu-22.04
        outputs:
            changelog_commitish: ${{ steps.commit.outputs.commit_long_sha || github.sha }}
            version: ${{ steps.updated-version.outputs.result }}
            release_notes: ${{ steps.changelog.outputs.release_notes }}

        steps:
            - name: Checkout repository
              uses: actions/checkout@v6
              with:
                  token: ${{ secrets.APIFY_SERVICE_ACCOUNT_GITHUB_TOKEN }}
                  fetch-depth: 0

            - name: Use Node.js 24
              uses: actions/setup-node@v6
              with:
                  node-version: 24
                  registry-url: 'https://registry.npmjs.org'
                  cache: 'npm'
                  cache-dependency-path: 'package-lock.json'

            - name: Install Dependencies
              run: npm ci

            - name: Update package version in package.json
              run: npm version --no-git-tag-version --allow-same-version ${{ needs.release_metadata.outputs.version_number }}

            - name: Update CHANGELOG.md
              uses: DamianReeves/write-file-action@master
              with:
                  path: CHANGELOG.md
                  write-mode: overwrite
                  contents: ${{ needs.release_metadata.outputs.changelog }}

            - name: Add changes to the release commit and push
              id: commit
              uses: EndBug/add-and-commit@v9
              with:
                  author_name: Apify Release Bot
                  author_email: noreply@apify.com
                  message: 'chore(release): set package version to ${{ steps.updated-version.outputs.result }} and update changelog [skip ci]'

    create_github_release:
        name: Create github release
        needs: [update_changelog]
        runs-on: ubuntu-latest
        env:
            GITHUB_TOKEN: ${{ secrets.APIFY_SERVICE_ACCOUNT_GITHUB_TOKEN }}
        steps:
            - name: Create release
              uses: softprops/action-gh-release@v2
              with:
                  tag_name: apify@${{ needs.update_changelog.outputs.version }}
                  name: apify@${{ needs.update_changelog.outputs.version }}
                  target_commitish: ${{ needs.update_changelog.outputs.changelog_commitish }}
                  body: ${{ needs.update_changelog.outputs.release_notes }}

    publish_to_npm:
        name: Publish to npm
        runs-on: ubuntu-22.04
        needs: [update_changelog]
        steps:
            - name: Publish to npm
              uses: apify/workflows/execute-workflow@main
              with:
                  workflow: publish-to-npm.yaml
                  inputs: >
                      {
                          "ref": "${{ needs.update_changelog.outputs.changelog_commitish }}"
                      }
